<footer class="footer"> 
	<div class="container">
		<div class="footer__inner">
			<a href="./" class="footer__logo"><img src="./images/logo-footer.png" alt=""></a>
			<div class="footer__middle">
				<div class="footer__schedules">
					<div class="footer__schedule"><span>понедельник-пятница</span> с 9:00 до 18:00</div>
					<div class="footer__schedule"><span>суббота-воскресенье</span> с 11:00 до 17:00</div>
				</div>
				<div class="footer__contacts">
					<a href="tel:+79001234567" class="footer__link footer__link_phone">+7 (900) 123 45 67</a>
					<a href="mailto:design@gmail.com" class="footer__link footer__link_email">design@gmail.com</a>
					<a href="./" class="footer__link footer__link_addrs">г. Москва ул. Пушкина 25</a>
				</div>
			</div>
			<div class="footer__side">
				<div class="footer__social social">
					<a class="social__link social__link_tgm" href="./"><img src="./images/icon-telegram.png" /></a>
					<a class="social__link social__link_vk" href="./"><img src="./images/icon-vk.png" /></a>
					<a class="social__link social__link_yout" href="./"><img src="./images/icon-youtube.png" /></a>
					<a class="social__link social__link_inst" href="./"><img src="./images/icon-inst.png" /></a>
					<a class="social__link social__link_yandex" href="./"><img src="./images/icon-yandex.png" /></a>
				</div>
				<div class="footer__copy">© 2017-2022 <strong>Graficheskiy design</strong></div>
			</div>
		</div>
	</div>
	<a class="footer__link-top" href="#top"></a>
</footer> 
<script type="text/javascript" charset="utf-8" src="jquery.min.js"></script>
<script src="common.js"></script>
</body> 
</html> 
