<header class="header" data-scroll-lock-fill-gap> 
	<div class="header__inner container">
		<a href="#main" class="header__logo"></a>
		<div class="header__menu" data-scroll-lock-scrollable>
			<nav class="header__navi">
				<a class="header__navi-link" href="#description">О нас</a>
				<a class="header__navi-link" href="#portfolio">Портфолио</a>
				<a class="header__navi-link" href="#opportunities">Преимущества</a>
				<a class="header__navi-link" href="#form">Цены</a>
				<a class="header__navi-link" href="#geolocation">Контакты</a>
			</nav>
			<button class="header__menu-close"></button>
		</div>
		<a class="header__top-button button" href="./" data-modal="feedback-form">Заказать дизайн</a>
		<button class="header__menu-toggle"></button>
	</div>
</header> 
