<main class="main">
    <div class="main__text__name">
      <p>Студия графического дизайна<mark class="mark">.</mark></br>
      Производство сувенирной продукции<mark class="mark">.</mark></br>
      Типография<mark class="mark">.</mark></p>
    </div>
    <div class="main__text__description">
      <p>Студия графического дизайна <mark>"Graficheskiy design"</mark> - это команда </br>
      профессиональных дизайнеров, готовых взять на себя задачи </br>
      любой сложности<mark class="mark">.</mark></p>    
    </div>  
</main>
  