.main {
  $self: &;
  color: white;
  text-align: left;
  left: 0;
  right: 0;
  top: 130px;
  text-align: center;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.5))
    ),
    url('././images/source.unsplash.png') center bottom/cover no-repeat transparent;
  height: 800px;

  @include media("<=sm") {
    left: 110px;
  }

  @include media("<=xs") {
    text-align: left;
    left: 12px;
  }

  &__name {
    font-size: 40px;
    font-family: "Segoe UI";
    margin-top: 185px;

    @include media("<=lg") {
      padding-top: 50px;
    }

    @include media("<=sm") {
      padding-top: 50px;
    }

    @include media("<=xs") {
      padding-top: 50px;
    }
  }

  &__description {
    font-family: "Segoe UI";
    font-size: 22px;
  }

  mark {
    background: none;
    color: #adf159;
    height: 10px;
  }
}
