.header {
  $self: &;
  background-image: linear-gradient(
      to top,
      rgba(36, 36, 36, 0.3),
      rgba(48, 47, 47, 0.3)
    ),
    url("../../images/source.unsplash.png");
  background-size: cover;
  font-family: "Segoe UI";
  height: 680px;
  padding-top: 10px;

  @include media("<=lg") {
    height: 700px;
  }

  @include media("<=sm") {
    height: 800px;
  }

  @include media("<=xs") {
    height: 900px;
  }
}

.navbar-nav {
  font-size: 22px;

  li {
    padding: 5px;
  }

  @include media("<=lg") {
    display: grid !important;
    grid-template-columns: 100px 150px 100px 180px 100px;
    li {
      padding: 0px;
      font-size: 20px;
    }
  }

  @include media("<=md") {
    display: grid !important;
    grid-template-columns: 100px 150px 100px 180px 100px;
    li {
      padding: 0px;
      font-size: 20px;
    }
  }

  @include media("<=sm") {
    display: grid !important;
    grid-template-columns: 190px 150px 150px;
    li {
      padding: 0px;
      font-size: 20px;
    }
  }

  @include media("<=xs") {
    display: grid !important;
    grid-template-columns: 170px 150px 150px;
    li {
      padding: 0px;
      font-size: 20px;
    }
  }



  
}
